<?xml version="1.0" encoding="UTF-8" ?>
<phpunit
        bootstrap="vendor/autoload.php"
        colors="true"
        verbose="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        processIsolation="false"
        stopOnFailure="false"
    >
    <testsuites>
        <testsuite name="ArmstrongNumbers">
            <directory>tests/ProgrammingChallenge/ArmstrongNumbers/unit</directory>
        </testsuite>
        <testsuite name="Brackets">
            <directory>tests/ProgrammingChallenge/Brackets/unit</directory>
        </testsuite>
        <testsuite name="Distincts">
            <directory suffix="Test.php">./tests/Distincts/unit</directory>
        </testsuite>
    </testsuites>
</phpunit>