<?xml version="1.0" encoding="UTF-8" ?>
<phpunit
        bootstrap="vendor/autoload.php"
        colors="true"
        verbose="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        processIsolation="false"
        stopOnFailure="false"
    >
    <testsuites>
        <testsuite name="Programming Challenge">
            <directory>tests/ArmstrongNumbers/unit</directory>
        </testsuite>
    </testsuites>
</phpunit>